@page "/"
@inject CarHttpClient CarHttpClient;
@attribute [Authorize]

@using LeenAutoCovadis.shared.Dtos;
@using LeenAutoCovadis.shared.Clients;
@using LeenAutoCovadis.blazor.Components
@using Microsoft.AspNetCore.Authorization

<PageTitle>Home</PageTitle>
<PageHeader><h5>Car</h5></PageHeader>

@if (Car != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Type</th>
                <th>Start kilometers</th>
                <th>End kilometers</th>
                <th>Kilometers</th>
                <th>Start address</th>
                <th>End address</th>
                <th>Available</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Car.Id</td>
                <td>@Car.Model</td>
                <td>@Car.Type</td>
                <td>@Car.StartKilometers</td>
                <td>@Car.EndKilometers</td>
                <td>@Car.Kilometers</td>
                <td>@Car.StartAddress</td>
                <td>@Car.EndAddress</td>
                @if (Car.Available == true)
                {
                    <td>Yes</td>
                }
                else
                {
                    <td>No</td>
                }
            </tr>
        </tbody>
    </table>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private CarDto? Car;

    protected override async Task OnInitializedAsync()
    {
        Car = await CarHttpClient.GetCar();
        Console.WriteLine("Car: " + Car.ToString);
    }
}
